.banner {
    padding: 283px 20px 185px;
    margin-top: 75px;
    background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url(/img/banner.jpg) center no-repeat;
    background-size: cover;
    color: #fff;
}

.banner__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.banner__content {
    margin-right: 30px;
    flex: 0 1 670px;
}

.banner__logo {
    width: 270px;
    height: 100px;
}

.banner__title {
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
}

.banner__subtitle {
    padding: 42px 0;
    max-width: 270px;
    line-height: 21px;
}

.banner__btn {
    width: 270px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #fff;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    border: 2px solid;
}

.banner__btn:hover {
    color: #EC7979;
}

.banner__btn:active {
    background-color: #AB4949;
    color: #fff;
    border: none;
}

.banner__form {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    padding: 29px 50px 0;
    overflow: hidden;
}

.form__title {
    margin: 30px auto 45px;
    color: #333;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.title__word {
    color: #EC7979;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    display: block;
    height: 38px;
    width: 100%;
    font-size: 14px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
}

input::-webkit-input-placeholder {
    color: #BDBDBD;
}

input[type="text"],
input[type="email"] {
    margin-bottom: 33px;
}

input[type="password"] {
    margin-bottom: 75px;
}

.form__button {
    width: 470px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #EC7979;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    border-radius: 0px 0px 10px 10px;
    cursor: pointer;
}

.form__button:hover {
    background-color: #AB4949;
}

.form__button:active {
    box-shadow: inset 0px 0px 10px #AB4949;
    ;
}

@media(max-width:1024px) {
    .banner {
        padding: 137px 20px 106px;
    }
    .banner__wrapper {
        max-width: 889px;
    }
    .banner__logo {
        width: 183px;
        height: 75px;
    }
    .banner__content {
        flex: 0 1 454px;
        margin-right: 36px;
    }
    .banner__title {
        font-size: 36px;
        line-height: 42px;
    }
    .banner__subtitle {
        max-width: 183px;
        font-size: 14px;
        line-height: 16px;
    }
    .bunner_btn {
        width: 183px;
    }
    .form__title {
        font-size: 18px;
        text-align: center;
    }
    @media (max-width:768px) {
        .banner {
            padding-top: 56px;
            text-align: center;
        }
        .banner__wrapper {
            margin: 0 auto;
            flex-direction: column;
        }
        .banner__content {
            flex: 0 0 auto;
            margin-right: 0;
        }
        .banner__logo {
            display: none;
        }
        .banner__subtitle {
            padding: 42px 0;
            max-width: 100%;
        }
        .banner__btn {
            margin: 0 auto 56px;
            max-width: 288px;
            width: 100%;
        }
        .form {
            margin: 0 auto;
        }
        .banner__form {
            width: 288px;
            padding-top: 35px;
        }
        .form__title {
            font-size: 14px;
        }
        input::placeholder {
            font-size: 14px;
        }
        .form__button {
            width: 288px;
        }
    }
}