.banner__line {
    width: 170px;
    border-top: 1px solid #fff;
    margin: 51px 0 55px;
}

.line {
    width: 170px;
    margin: 0 auto;
    border-top: 1px solid #EC7979;
}

.stretch__line {
    width: 170px;
    margin: 0 auto;
}

@media(max-width:1024px) {
    .banner__line {
        width: 144px;
    }
    .line {
        width: 144px;
    }
    .stretch__line {
        width: 144px;
    }
}

@media(max-width:320px) {
    .banner__line {
        width: 134px;
    }
}