.banner__line {
    width: 170px;
    border-top: 1px solid #fff;
    margin: 55px 0 0 0;
}

.line {
    width: 170px;
    margin: 0 auto;
    border-top: 1px solid #EC7979;
}

.stretch__line {
    width: 170px;
    margin: 0 auto;
}

@media(max-width:1024px) {
    .banner__line {
        width: 115px;
        margin: 42px 0 0 0;
    }
    .line {
        width: 142px;
    }
    .stretch__line {
        width: 142px;
    }
}

@media(max-width:768px) {
    .banner__line {
        width: 134px;
        margin: 44px auto 0;
    }
}