.pricing {
    text-align: center;
    background-color: #F5F5F5;
    padding-top: 104px;
}

.blocks__wrapper {
    display: flex;
    justify-content: space-between;
}

.pricing__heading {
    text-transform: uppercase;
    font-size: 36px;
    font-weight: 400;
    margin-bottom: 54px;
}

.pricing__subtitle {
    color: #86878B;
    margin-top: 40px;
}

.pricing__block {
    width: 370px;
    padding: 0;
}

.pricing__block:nth-child(2n+1) {
    margin: 79px 0 50px;
}

.pricing__block:nth-child(2) {
    margin: 59px 0 70px;
}

.pricing__block:hover {
    border: 2px solid #F5F5F5;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.pricing__block:not(:last-child) {
    margin-right: 30px;
}

.pricing li {
    list-style-type: none;
}

.pricing li:first-child {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    padding-top: 14px;
    padding-bottom: 14px;
}

.pricing li:nth-child(2) {
    font-size: 36px;
    padding-top: 29px;
    padding-bottom: 29px;
}

.pricing li:nth-child(-n+2) {
    color: #fff;
    font-weight: 700;
    border-bottom: 2px solid #F5F5F5;
}

.pricing li:nth-child(-n+3) {
    background-color: #000;
}

.pricing li:nth-child(n+3) {
    color: rgba(255, 255, 255, 0.5);
    padding-top: 15px;
    padding-bottom: 14px;
}

.pricing li:nth-child(n+4) {
    background-color: #fff;
    color: #86878B;
    border-bottom: 2px solid #F5F5F5;
    padding-top: 15px;
    padding-bottom: 14px;
}

@media(max-width:1024px) {
    /* pricing */
    .pricing {
        padding-top: 96px;
    }
    .pricing__heading {
        font-size: 24px;
        margin-bottom: 78px;
    }
    .pricing__line {
        width: 143px;
    }
    .pricing__subtitle {
        margin-top: 32px;
        font-size: 14px;
    }
    .pricing__block {
        width: 318px;
    }
    .pricing__block:nth-child(2n+1) {
        margin: 50px 0;
    }
    .pricing__block:nth-child(2) {
        margin: 32px 0 68px;
    }
    .pricing__block:not(:last-child) {
        margin-right: 20px;
    }
    .pricing li:first-child {
        font-size: 24px;
        padding: 10px 0;
    }
    .pricing li:nth-child(2) {
        font-size: 36px;
        padding: 24px 0px;
    }
    .pricing li:nth-child(-n+3) {
        background-color: #000;
    }
    .pricing li:nth-child(n+3) {
        padding-top: 12px;
        padding-bottom: 11px;
    }
    .pricing li:nth-child(n+4) {
        padding-top: 12px;
        padding-bottom: 11px;
    }
}

@media(max-width:768px) {
    .pricing {
        padding-top: 46px;
    }
    .pricing__heading {
        margin-bottom: 46px;
    }
    .blocks__wrapper {
        flex-direction: column;
        align-items: center;
    }
    .pricing__subtitle {
        margin: 24px auto;
    }
    .pricing__block:not(:last-child) {
        margin-right: 0px;
    }
    .pricing__block {
        margin: 0 auto 27px;
        width: 288px;
    }
    .pricing li:first-child {
        font-size: 18px;
        padding: 14px 0;
    }
    .pricing li:nth-child(2) {
        font-size: 24px;
        padding: 25px 0;
    }
    .pricing li:nth-child(n+3) {
        font-size: 14px;
        padding: 11px 0;
    }
}