.social {
    background-color: #F8EFEF;
}

.social__wrapper {
    display: flex;
    justify-content: space-between;
}

.social__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 13px auto;
}

.social__subtitle {
    color: #86878B;
    margin: 18px auto;
}

.social__items {
    display: flex;
    align-items: center;
}

.social__items img {
    width: 70px;
    height: 70px;
}

.social__items a:not(:last-child) {
    margin-right: 30px;
}

@media(max-width:1024px) {
    /*social*/
    .social__title {
        font-size: 18px;
        margin: 10px auto;
    }
    .social__subtitle {
        font-size: 14px;
        margin: 18px auto;
    }
    .social__items img {
        width: 64px;
        height: 64px;
    }
    .social__items a:not(:last-child) {
        margin-right: 20px;
    }
}

@media(max-width:768px) {
    .social {
        padding: 31px 16px 44px;
        text-align: center;
    }
    .social__wrapper {
        flex-direction: column;
    }
    .social__title {
        font-size: 18px;
    }
    .social__items {
        width: 278px;
        height: 26px;
        justify-content: center;
        margin: 0 auto;
    }
    .social__items img {
        width: 26px;
        height: 26px;
    }
    .social__items a:not(:last-child) {
        margin-right: 17px;
    }
}